#main { 
  background: url('../public/img/Fotor_AI2.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-transparent {
  background: rgba(201, 241, 188, 0.852);
}


#home {
  height: 100vh;
}

:link {
  margin-left: 10px;
}

.box-format {
  color: pink !important;
}